<h2><b>Lista de usuarios</b></h2>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Email</th>
        <th scope="col">Estado</th>
        <th scope="col">Actualizar</th>
        <th scope="col">Eliminar</th>
      </tr>
    </thead>
    <tbody>
        
      <tr *ngFor="let usuario of dataService.listaUsuarios; let i=index">
        <th scope="row">{{i+1}}</th>
        <td>{{usuario.nombre}}</td>
        <td>{{usuario.email}}</td>
        <td>
          <span *ngIf="usuario.estado" class="badge bg-success">Habilitado</span>
          <span *ngIf="!usuario.estado" class="badge bg-danger">Desabilitado</span>
        </td>
        <td>
            <button [routerLink]="['/editar',usuario.id]"
                    mat-raised-button color="primary"><i class="fas fa-edit"></i></button>
        </td>
        <td>
            <button (click)="eliminar(usuario, i)"
                    mat-raised-button color="primary"><i class="fas fa-trash"></i></button>
        </td>
      </tr>

    </tbody>
</table>